<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>

<div class="page_header">
    <h1 class="page_title">DB Manger - Database Overview</h1>
</div>

<div class="page_panel">
    <p>Servername: <span th:text="${serverName}">[Servername]</span></p>
    <p>Databasename: <span th:text="${databaseName}">[Databasename]</span></p>
    <h4 style="border-top-style: solid">Table Overview:</h4>
</div>

</body>
</html>
