<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/tablePage.css}" rel="stylesheet"/>
    <link th:href="@{/css/main.css}" rel="stylesheet"/>
</head>
<body>
<div class="page_header">
    <h1 class="page_title" th:text="${tableView.tableName}">[tableView.tableName]</h1>
</div>

<div class="table-overview">
    <table>
        <tr>
            <th th:each="tableColumn : ${tableView.tableColumns}">
                <span th:text="${tableColumn.columnName}"></span>
            </th>
        </tr>
        <tr th:each="tableMetaRow : ${tableView.tableMetaRows}">
            <td th:each="tableMetaColumn : ${tableMetaRow.tableMetaColumns}">
                <span th:text="${tableMetaColumn.value}"></span>
            </td>
        </tr>
    </table>
</div>

<script type="text/javascript" th:inline="javascript">
    function openTable() {
        console.log([[${tableView}]])
    }
</script>

</body>
</html>
