.database_panel{


}
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.flex-container p {
    margin-right: 5px;
}

.buttons {
    margin-left: auto;
}

