table {
    margin-top: 5px;
    width: 100%;
    background-color: #FFA500;
    color: black;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    border: solid #FFA500 3px;
}

.icon_button {
    margin-left: 5px;
    background-color: #ffa81e;
}

.icon_button i {
    color: green;
}

table th, td {
    border: solid black 3px;

}

table button {
    width: 98%;
    background-color: #f3b248;
}

table button:hover {
    width: 98%;
    background-color: #ffa81e;
}

table i {
    color: #333333;
}

.container {
    background-color: #FFA500;
    color: black;
    margin-top: 5px;
    display: flex;
    align-items: center;
    padding: 5px;
}

.action_col {
    width: 5vw;
}
